backend/HELP.md
target/
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

application.properties

/.idea/

# JetBrains project files you don't want
.idea/workspace.xml
.idea/vcs.xml
.idea/**/tasks.xml
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/**/sqldialects.xml
.idea/**/dictionaries
.idea/**/uiDesigner.xml
.idea/**/sonarlint/

# (Optional) ignore these if you don’t need them shared
.idea/compiler.xml
.idea/jarRepositories.xml


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
backend2/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea
.idea/workspace.xml
